body {
  height: 100vh !important;
  overflow: hidden !important;
  background-color: rgb(42 42 42) !important;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e3338 !important;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202225 !important;
  border-radius: 5px;
}

.emoji-mart {
  position: absolute !important;
  bottom: 70px !important;
}

.emoji-mart-preview {
  display: none !important;
}

.MuiInputLabel-outlined {
  color: rgba(133, 133, 133, 0.89) !important;
}

.MuiOutlinedInput-notchedOutline {
  border: 0 !important;
}

.MuiInputBase-root {
  color: rgb(245, 245, 245) !important;
}
